In [ ]:
# 변수와 자료형

name = "YunSeek"
age = 32
height = 174
is_ai_developer = True

print(name, age, height, is_ai_developer)

# 조건문
if age > 20:
  print("성인입니다.")
else:
  print("미성년자입니다.")

# 반복문
for i in range(5):
  print("반복:" , i)

# while
count = 0
while count < 3:
  print("while 반복:", count)
  count += 1

YunSeek 29 174 True
성인입니다.
반복: 0
반복: 1
반복: 2
반복: 3
반복: 4
while 반복: 0
while 반복: 1
while 반복: 2

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])
fruits.append("orange")
print(fruits)
fruits.remove("banana")
print(fruits)

squares = [x**2 for x in range(5)]
print(squares)

words = ["apple", "ai", "banana", "go", "grape"]
ansewr = [word for word in words if len(word) >= 5]
print(ansewr)

apple
['apple', 'banana', 'cherry', 'orange']
['apple', 'cherry', 'orange']
[0, 1, 4, 9, 16]
['apple', 'banana', 'grape']

In [ ]:
user = {
    "name":"YunSeek",
    "age":32,
    "is_dev":True
}

print(user["name"])
user["email"] = "yun@ai.com"
print(user.get("email"))

YunSeek
yun@ai.com

In [ ]:
position = (100, 200)
print(position[0])
# position[0] = 300

100

TypeError: 'tuple' object does not support item assignment

In [ ]:
a = {1,2,3}
b ={2,3,4}
print(a & b)
print(a | b)
print(a-b)

{2, 3}
{1, 2, 3, 4}
{1}

In [ ]:
# 1. 이름 리스트에서 'Tom'을 제거하고, 'Lisa' 추가하기
names = ["John", "Tom", "Jane"]
# 여기에 코드 작성
names.remove("Tom")
names.append("Lisa")
print(names)

# 2. 학생 정보 딕셔너리에 'score': 95 추가하고 출력하기
student = {"name": "YunSeek", "age": 32}
# 여기에 코드 작성
student["score"] = 95
print(student)

my_dict = {"이름": "YunSeek"}

# 다른 딕셔너리 추가
another_dict = {"나이": 32, "직업": "개발자"}
my_dict.update(another_dict)

print(my_dict)

# 키-값 쌍의 리스트 추가
new_data = [("도시", "서울"), ("취미", "코딩")]
my_dict.update(new_data)

print(my_dict)

# 3. 집합 a = {1, 2, 3}, b = {2, 4, 6}의 교집합과 합집합 출력
# 여기에 코드 작성
a = {1, 2, 3}
b = {2, 4, 6}
print(a & b)
print(a | b)

['John', 'Jane', 'Lisa']
{'name': 'YunSeek', 'age': 32, 'score': 95}
{'이름': 'YunSeek', '나이': 32, '직업': '개발자'}
{'이름': 'YunSeek', '나이': 32, '직업': '개발자', '도시': '서울', '취미': '코딩'}
{2}
{1, 2, 3, 4, 6}

In [ ]:
def add(a, b):
  return a + b

result = add(3, 5)
print(result)

def greeting(name):
  return f"Hello, {name}"

print(greeting("YunSeek"))

def say(message="안녕!"):
  print(message)

say()
say("반가워!")

8
Hello, YunSeek
안녕!
반가워!

In [ ]:
def introduce(name, age, job="AI 개발자"):
  print(f"{name} ({age}) - {job}")

introduce("YunSeek", 32)
introduce("Lisa", 30, "디자이너")

square = lambda x : x ** 2
print(square(4))

YunSeek (32) - AI 개발자
Lisa (30) - 디자이너
16

In [ ]:
def introduce(name, age):
  return f"{name}님은 {age}세입니다."

print(introduce("YunSeek", 32))

def absolute(num):
  return abs(num)

def filter_even(numbers):
  return [num for num in numbers if num % 2 == 0]

print(absolute(-3))
print(filter_even([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

YunSeek님은 32세입니다.
3
[2, 4, 6, 8, 10]

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def introduce(self):
    print(f"안녕하세요, 저는 {self.name}, {self.age}살입니다.")

p1 = Person("YunSeek", 32)
p1.introduce()

class Dog:
  def __init__(self, name, breed):
    self.name = name
    self.breed = breed
    print(f"이름: {name}, 견종: {breed}")

  def bark(self):
    print("멍멍!")

dog = Dog("Coco", "Poodle")
dog.bark()

class Calculator:
  def __init__(self, num1, num2):
    self.num1 = num1
    self.num2 = num2

  def add(self):
    return self.num1 + self.num2

  def sub(self):
    return self.num1 - self.num2

  def mul(self):
    return self.num1 * self.num2

  def div(self):
    return self.num1 / self.num2

cal = Calculator(10, 20)
print(cal.add())

안녕하세요, 저는 YunSeek, 32살입니다.
이름: Coco, 견종: Poodle
멍멍!
30

In [ ]:
class Person:
  def __init__(self) -> None:
    pass
  def introduce(self):
    print("사람입니다.")

class Student(Person):
  def __init__(self) -> None:
    self.__private = "비밀"
  def introduce(self):
    print("학생입니다.")
  def __str__(self):
    return "홍길동, 20세 학생"

  def get_secret(self):
    return self.__private


student = Student()
student.introduce()
print(student)
# print(student.__private)
print(student.get_secret())

학생입니다.
홍길동, 20세 학생
비밀

In [5]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")

print(df.head())

print(df.describe())

print(df.columns)

print(df['species'].value_counts())

print(df[df['petal_length'] > 5.0])

print(df.groupby('species')['sepal_width'].mean())

print(df[df['species'] == 'setosa'].head(10))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64
     sepal_length  sepal_width  petal_length  petal_width     species
83            6.0          2.7           5.1          1.6  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
120           6.9          3.2           5.7          2.3   virginica
122           7.7          2.8           6.7          2.0   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica
species
setosa        3.428
versicolor    2.770
virginica     2.974
Name: sepal_width, dtype: float64
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa